*{
    margin:0;
    padding :0;
}

/* Quiz Container */
.container{
    background-color: rgb(44, 80, 190);
    max-width: 800px;
    margin:20px auto;
    border-radius: 5px;
}

.header{
    text-align: center;
    padding:20px

}

.header h1{
    margin-top: 0;
    color: white;
}
h2{ color: white;}

#start-button{
    margin-top: 100px;
    padding:10px 15px;
    border-radius: 10px;
    color:#fff;
    background-color: #151ca7;
}

.hidden{
    display:none
}
 
.quiz-container{
    margin-bottom:20px;
    margin-top:20px;
    text-align: center;
    opacity: 0.5;
}

.question-container, 
.timer-container{
    margin-bottom: 20px;
}

#question{
    text-align: left;
    padding:32px;
}
#choices{
    list-style-type: none;
    padding: 0;
}

#choice-btn{
    color:#fff;
    background-color:#002990;
    width: 90%;
    padding:10px;
    margin:5px 10px;
    border-radius: 9px;
    cursor: pointer;
    border:1px solid white;
}

#choices li:last-of-type{
    padding-bottom: 20px;
}

.score-container {
    text-align: center;
}

#initials-form {
    margin-top: 20px;
}

#initials-form label, #initials-form input, #initials-form button {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

#initials-form input {
    width: 100px;
}

#initials-form button {
    background-color: #200475;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#initials-form button:hover {
    background-color: #3333de;
}

#leaderboard-container{
    padding: 25px; 
   
}
